.container
  position relative
  width 100vw
  height 100vh
  background-color #f7f7f7

.list
  position relative
  padding 0 15px

  &__item
    margin-bottom 20px

.avatar
  display: flex
  justify-content center
  align-items center
  padding 10px 0
